﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
    </script>
    <script src="@Url.Content("~/Scripts/errorhandler.js")" type="text/javascript"></script>
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
</head>

<body>
     <div id="logindisplay">
     <br />
        @Html.Partial("_LoginStatus")
    </div>

    <img src="../../Content/images/banner.JPG" alt="Score Squid" /><br />
    @RenderBody()
</body>
</html>
