﻿@model IEnumerable<ScoreSquid.Web.ViewModels.FixtureViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Home Team</th>
        <th>Away Team</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>@String.Format("{0:D}", item.Date)</td>
        <td>@item.HomeTeamName</td>
        <td>@item.AwayTeamName</td>
    </tr>
}

</table>

