<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.0.0" />
  <package id="DataAnnotationsExtensions" version="0.6.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.6.0.0" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Glimpse" version="0.83" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MiniProfiler" version="1.9" />
  <package id="MiniProfiler.MVC3" version="1.9.1" />
  <package id="Moq" version="4.0.10827" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebActivator" version="1.4.4" />
</packages>